{% extends "base.html" %}
{% load static %}
{% block title %} UTCS Lab Status || MAD {% endblock title %}

{% block open_graph_image %}{% static 'images/labstatus-banner.png' %}{% endblock open_graph_image %}

{% block css %}
    <link href="{% static 'generated_css/labstatus/labstatus.min.css' %}" rel="stylesheet">
{% endblock %}

{% block extra-js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>

    <script src="{% static 'generated_js/labstatus/backend.min.js' %}"></script>
    <script src="{% static 'generated_js/labstatus/sha1.min.js' %}"></script>
    <script src="{% static 'generated_js/labstatus/model.min.js' %}"></script>
    <script src="{% static 'generated_js/labstatus/rendering.min.js' %}"></script>
    <script src="{% static 'generated_js/labstatus/search.min.js' %}"></script>
    <script>
        window.addEventListener("load", function () {
            // TEMPLATES
            const spaceTipTemplate = _.template(
                $("script#tooltipTemplate").html()
            );
            const monitorTipTemplate = _.template(
                $("script#monitorTooltipTemplate").html()
            );
            const spaceTemplate = _.template(
                $("script#spaceTemplate").html()
            );

            // SEARCH
            const searchField = document.getElementById("search-input");
            let machines;

            searchField.addEventListener("input", function (e) {
                const text = searchField.value;
                if (!machines || machines.length > 0) {
                    machines = $(".machine")
                }
                filterMachines(machines, text)
            });
            document.addEventListener("keypress", function (e) {
                searchField.focus()
            });

            // DATA
            let backend = new UTCSBackend(utcs_js_key, proxy_url);

            function updateInfo() {
                const labsPromise = backend.request(UTCSBackendService.LABS);
                labsPromise.then(function (data) {
                    const parsed = new LabsResponse(data);
                    if (parsed.success) {
                        const spaces = $(".space");
                        const allInfo = Object.assign(parsed.machines[0], parsed.machines[1]);
                        updateMachineInfo(allInfo, spaces);
                        renderTooltips(spaces, spaceTipTemplate, monitorTipTemplate);
                    }
                });
            }

            // We'll run the first requests manually
            const labsPromise = backend.request(UTCSBackendService.LABS);
            const layoutPromise = backend.request(UTCSBackendService.LAYOUT);
            // Need to get layout first.
            layoutPromise.then(function (data) {
                const parsed = new LabsLayoutResponse(data);
                if (parsed.success) {
                    renderSpaces(parsed.machines_layout[0], $("#third-floor .machines"), spaceTemplate);
                    renderSpaces(parsed.machines_layout[1], $("#basement .machines"), spaceTemplate);

                    // Once we have actual uptime data...
                    labsPromise.then(function (data) {
                        // Allow the newly laid out dots to fade in
                        $(".animate-in").removeClass("animate-in");
                        const parsed = new LabsResponse(data);
                        if (parsed.success) {
                            const spaces = $(".space");
                            const allInfo = Object.assign(parsed.machines[0], parsed.machines[1]);
                            // Pump all of the information into the DOM
                            updateMachineInfo(allInfo, spaces);
                            // Add the tooltips to display stats
                            renderTooltips(spaces, spaceTipTemplate, monitorTipTemplate);
                            // and now do the same every 15 seconds.
                            setTimeout(updateInfo, 15000);
                        }
                    })
                }

            });
        });


    </script>
{% endblock %}

{% block content %}
    <div id="sub-nav">
        <div class="svg-icon" id="search-icon"></div>
        <input type="search" placeholder="machine name" id="search-input"/>
        <div class="svg-icon" id="help-icon" style="display: none;"></div>
        <a href="{% url 'labs' %}">
            <div class="svg-icon mad-labs-logo"></div>
        </a>
    </div>
    <section id="labs">

        <div id="third-floor" class="lab">


            <div class="container">
                <h1>Third Floor</h1>

                <div class="machines-container">
                    <div class="machines">


                    </div>
                </div>
            </div>
        </div>
        </div>

        <div id="basement" class="lab">
            <div class="container">
                <h1>Basement</h1>

                <div class="machines-container">
                    <div class="machines">


                    </div>
                </div>
            </div>
        </div>

    </section>


    <script type="text/template" id="tooltipTemplate">
        <h3><%= data.name %></h3>
        <span> <%= Math.floor(data.uptime / (24 * 60)) %>:<%= Math.floor((data.uptime / 60) % 24) %>:<%= data.uptime % 60 %> </span>
    </script>
    <script type="text/template" id="monitorTooltipTemplate">
        <h3><%= data.name %></h3>
    </script>
    <script type="text/template" id="spaceTemplate">

        <div class="space <% if (data.is_monitor) { %> monitor <% } else { %> machine <% } %> animate-in"
             data-name="<%= data.name %>"
             style="left: <%= data.location[0] * 100.0 %>%; top: <%= data.location[1] * 100.0 %>%"
        ></div>


    </script>
{% endblock %}
