{% extends "base.html" %}
{% load static %}


{% block title %}MADcon Registration{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h1>Registration opening soon</h1>
        <p>Registration for MADcon 2018 will open on <strong>March 22nd, 2018 at 7:00 PM CDT</strong>.</p>
        <p>Join us at our Hack Night on March 22 from 6:00-10:00 PM in GDC 6.302 to received <strong>guaranteed
            acceptance</strong> to MADcon 2018. There will be free food and a showing of the Academy Award-winning film
        The Social Network.</p>
    </div>
{% endblock content %}

