{% extends "base.html" %}
{% load static %}


{% block title %}Register for MADcon{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="container">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Register for MADcon</h1>
            </div>
            <div class="panel-body">
                <p>Note: No information you provide will have an impact on your acceptance, MADcon is first come first
                    serve.
                </p>
                <form class="form-horizontal" method="post" action="{% url 'madcon:register' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock content %}

