{% extends "base.html" %}
{% load static %}


{% block title %}MADcon Registration Status{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <p>Your registration is currently {{ registration.get_status_display }}</p>
        {% if registration %}
            {% if registration.status == 'P' or registration.status == 'W'  %}
                <a class="btn btn-primary" href="{% url 'madcon:register' %}">Modify Application</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}

