{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{{ object.title }}</h1>
            </div>
            <div class="panel-body">
                <h5>Location: </h5>
                <p>{{ object.location }}</p>
                <h5>Starts: </h5>
                <p>{{ object.start_time }}</p>
                <h5>Ends: </h5>
                <p>{{ object.end_time }}</p>
                <h5>Creator: </h5>
                <p>{{ object.creator.full_name }}</p>
                <h5>Description: </h5>
                <p>{{ object.description }}</p>
                <h5>Attendees: </h5>
                <ul>
                {% for attendee in object.attendees.all %}
                    <li>{{ attendee.full_name }}</li>
                {% endfor %}
                </ul>


            </div>
        </div>
    </div>
{% endblock content %}

