@import "../base";

/* = Sections
-------------------------------------------------------------- */

body {
  background-color: #1a1a21;
}

section h1 {
  text-align: center;
}

/* = Layout
-------------------------------------------------------------- */
/* Top level page structure*/

#labs {
  flex: 1 1 0;
  overflow: hidden;
  display: flex;
  color: #eee;
  font-size: 16px;
}

#sub-nav {
  padding: 4px 12px 4px 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

#sub-nav a {
  display: inline-block;
  float: right;
}

/* = Labs
-------------------------------------------------------------- */

#labs {
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
  font-size: 0;
  width: 100%;
}

.lab {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  flex-direction: column;
  max-width: 600px;
}

.lab .container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.lab h1 {
  flex: 0 0 auto;
  text-transform: capitalize;
  color: inherit;
}

.machines-container {
  padding-right: 14px;
  flex: 9 0 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  height: 500px;
}

.machines {
  max-height: 100%;
  max-width: 300px;
  width: 100%;
  position: relative;
  align-self: center;
  flex: 1 1 80%;
}

.stats {
  flex: auto;
  font-size: 16px;
  text-align: center;
  width: 100%
}

.graph {
  height: 100px;
}

/* = Machine
-------------------------------------------------------------- */

.space {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(127, 127, 127, 0.3);
  position: absolute;
  transition: opacity 0.4s, background-color 0.3s;
  opacity: 1;
}

.machine[data-occupied="true"] {
  background-color: red;
}

.machine[data-occupied="false"] {
  background-color: green;
}

.space.animate-in {
  opacity: 0;
}

.svg-icon {
  width: 1em;
  height: 1em;
  fill: white;
}

.mad-labs-logo {
  transform: scale(1.3);
}

/* = State
-------------------------------------------------------------- */

#labs-error, #labs-loading {
  margin: 48px 12px;
  flex: auto;
  text-align: center;
  font-size: 21px;
}

#labs-loading {
  color: rgba(255, 255, 255, 0.6);
}

/* = Search
-------------------------------------------------------------- */

#search-icon {
  display: inline-block;
  flex: 0 1 0;
  margin-right: 4px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

#search-input {
  font-size: 16px;
  font-weight: 100;
  font-family: inherit;
  display: inline-block;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  flex: 1 0 0;
  color: rgba(255, 255, 255, 0.8);

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    padding: 0;
    margin: 0;
    padding-bottom: 2px;
  }
}

.no-match {
  opacity: .5;
}

.match-highlight {
    border-style: solid;
    border-color: #0046ff;
}

#help-icon {
  display: inline-block;
}

/* = Footer
-------------------------------------------------------------- */

#attribution .ion-social-github {
  margin-top: 2px;
}

/* = Media Queries
-------------------------------------------------------------- */

@media screen and (min-width: 800px) {

  section#labs {
    flex-direction: row;
  }
  // Labs grow and fill the width of the screen 50-50
  .lab {
    flex: 1 0 auto;
    width: auto;
    height: auto;
  }
}

@media screen and (min-width: 800px) and (min-height: 700px) {
  h1 {
    font-size: 24px;
  }
  .machines {
  }
  .space {

  }
}

@import "labstatus_tooltip";
