{% extends "base.html" %}
{% block content %}
    <div class="container events">
        {% for event in event_list %}
            <div class="panel card">
                <div class="card-content">
                    <h1>{{ event.title }}</h1>
                    <p>{{ event.location }}</p>
                    <p>{{ event.start_time }}</p>
                </div>
                <div class="card-media">
                    <img src="{{ event.image_url }}"/>
                </div>
                <div class="card-actions">
                    <a class="btn btn-flat" href="{% url 'events:detail' event.id %}">View</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
