////////////////////////////////
		//Variables//
////////////////////////////////

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;
$primary: #1EBD5F;
$primary-dark: #0E6B34;
$primary-text: #F2FFF2;
