@import "colors";
@import "team_photos";
@import "partners";

////////////////////////////////
//General//
////////////////////////////////

.icon {
  background-color: rgba(0, 0, 0, .1);
  line-height: 100px;
  width: 100px;
  height: 100px;
  margin: 21px auto 21px auto;
  display: block;
  text-align: center;
  border-radius: 50%;
  font-size: 40px;
  transition: .3s;
}

#about-us {
  background-image: url("../images/bg/m-tile.png");
  background-size: 6em 6em;
}

#about-us .text {
  font-weight: 400;
  font-size: 24px;
}

#how-we-do-it {
  background-image: url("../images/bg/bg_icons.png");
  background-position: center;
  background-size: contain;

  color: $white;
}

#officers {
  background-color: $charcoal;
  color: $white;
}
