@import "./_variables.scss";

// about page CSS goes here

////////////////////////////////
//Variables//
////////////////////////////////

////////////////////////////////
//General//
////////////////////////////////

.icon {
  background-color: rgba(0, 0, 0, .1);
  line-height: 100px;
  width: 100px;
  height: 100px;
  margin: 0 auto 21px auto;
  display: block;
  text-align: center;
  border-radius: 50%;
  font-size: 40px;
  transition: .3s;
}

#about-us {
  background-image: url("../images/bg/m-pattern.png");
  background-size: 6em 6em;
}

#how-we-do-it {
  background-image: url("../images/bg/bg_icons.png");
  background-size: contain;
  background-color: $primary;
  color: $white;
}

#how-we-do-it .h2 {
  color: $white;
}
