@import "variables";

// project specific CSS goes here

////////////////////////////////
//General//
////////////////////////////////

body {
    font-weight: 400;
  font-size: 16px;
    font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #5D5D5D;
  background-color: $off-white;
    margin: 0;
}

section {
  line-height: 1.5;
    height: auto;
    overflow: auto;
    position: relative;
    padding: 0 0 24px 0;
    box-sizing: border-box;
}

.primary-color-section {
    background-color: $primary;
  color: $white;

  a.btn {
    border-color: $white;
    color: $white;
  }

  h1,
  h2,
  h3,
  h4 {
  color: inherit;
}
}

section .container {
    padding: 24px 0 0 0;
}

h1 {
    font-size: 24px;
    font-weight: 900;
}

h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 900;
}

h3 {
    font-weight: 700;
    font-size: 21px;
}

h4 {
    font-weight: 700;
}

a {
  color: $primary;
}

.match_parent_width {
  width: 100%;
}

textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

input[type=text] {
  width: 100%;
}

select {
  width: 100%;
  background-color: transparent;
}

.btn-primary {
  background-color: $primary;
}

////////////////////////////////
//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

////////////////////////////////
//Tabs//
////////////////////////////////

.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  -webkit-box-shadow: inset 0 -2px 0 $primary !important;
  box-shadow: inset 0 -2px 0 $primary !important;
  color: $primary !important;
}

////////////////////////////////
//Navbar//
////////////////////////////////

/* MAD Icon */
.navbar-brand img {
  height: 20px;
}

/* Navbar Main */
.navbar-inverse {
  background-color: $primary;
  border-color: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: $primary;
}

/* Navbar Selected Tab */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: $primary-dark;
  color: $white;
}

/* Navbar Text */
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: $primary-light;
  }
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
  color: $primary-light;
}

////////////////////////////////
//Django Toolbar//
////////////////////////////////

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden][style="display: block;"] {
  display: block !important;
}

////////////////////////////////
//Footer//
////////////////////////////////
#contact {
  background-color: $charcoal;
  color: $white;
  text-align: center;
}

#contact .text {
  display: flex;
}

#contact li:hover {
  color: rgba(255, 255, 255, 0.6)
}

#contact * {
  color: inherit;
  font-weight: 300;
}

#contact .social {
  display: block;
  margin: 0 auto;
  margin-bottom: 6px;
  opacity: .8;
}

#contact .social li {
  display: inline-block;
  margin: 0 5px;
}

#contact .social li a {
  font-size: 18px;
}

#contact .copyright {
  opacity: .8;
}

////////////////////////////////
//Wide devices//
////////////////////////////////

@media screen and (min-width: 900px) {
  section .text .lead {
    font-weight: bold;
  }

  section .text.emphasized {
    font-size: 24px;
  }

  h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 900;
  }

  section {
    padding: 0 0 82px 0;
  }

  section h2 {
    margin: 0 0 48px 0;
  }

  section .container {
    padding: 82px 24px 0px 24px;
  }

  #contact {
    padding: 0 0 12px 0;
  }
  #contact .text p {
    flex: 1;
  }
  #contact .social {
    margin: 0;
    float: left;
  }
  #contact .copyright {
    display: inline-block;
    text-align: right;
  }
}
