{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block extra-css %}
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.min.css"/>
{% endblock %}

{% block extra-js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $('#id_graduation_date').datepicker({});
    </script>
{% endblock %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ user.username }}</h1>
        <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
        <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
