#header,
.module caption,
div .breadcrumbs {
  background: #0E6B34;
  color: #F2FFF2; }

.module caption,
.module h2 {
  background: #1EBD5F; }

a:link,
a:visited {
  color: #36454f; }

#changelist-filter li.selected a {
  color: #1EBD5F !important; }

.button.default,
input[type=submit].default,
.submit-row input.default {
  background: #0E6B34; }

.button,
input[type=submit],
input[type=button],
.submit-row input,
a.button {
  background: #1EBD5F; }
