/* ----- DEMO -------------------- */
.demo {
  display: block;
  margin: 0 auto;
  position: relative; }

.demo .device {
  position: absolute;
  top: 50%;
  left: 50%; }

.demo .device .screen {
  position: absolute;
  border-radius: 5px;
  padding: 3px;
  background: black; }

/* Camera */
.demo .device:before {
  content: ' ';
  display: block;
  position: absolute;
  border-radius: 5px; }

/* Home button */
.demo .device:after {
  content: ' ';
  display: block;
  position: absolute;
  border: 1px solid transparent;
  transform: scale(1.02, 1.02); }

.demo .device {
  background: #333; }

.demo .device:before {
  background: #555; }

.demo .device:after {
  border-color: #555; }

/*--- = White  */
.demo .device.white {
  background: #f1f4f9; }

.demo .device.white:before {
  background: #bbbbbb; }

.demo .device.white:after {
  border-color: #cccccc; }

/* iPhone */
.demo.iphone {
  height: 570px; }

.demo.iphone .device {
  transform: translateX(-50%) translateY(-50%) scale(0.75); }

.demo.iphone .device {
  width: 290px;
  /* 4.477x the mm measurement, - 10 pixels for the curved edges */
  height: 608px;
  border-radius: 44px; }

.demo.iphone .device .screen {
  left: 13px;
  top: 76px;
  width: 260px;
  height: 460px; }

/* Camera */
.demo.iphone .device:before {
  left: 126px;
  top: 37px;
  width: 48px;
  height: 4px; }

/* Home button */
.demo.iphone .device:after {
  left: 127px;
  top: 551px;
  width: 44px;
  height: 44px;
  border-radius: 23px; }

/*--- = Android Device  */
.demo.android {
  height: 570px; }

.demo.android .device {
  transform: translateX(-50%) translateY(-50%) scale(0.75); }

.demo.android .device {
  width: 290px;
  /* 4.477x the mm measurement, - 10 pixels for the curved edges */
  height: 580px;
  border-radius: 44px /30px; }

.demo.android .device .screen {
  left: 13px;
  top: 56px;
  width: 260px;
  height: 460px; }

/* Camera */
.demo.android .device:before {
  left: 120px;
  top: 25px;
  width: 60px;
  height: 4px; }

/* Home button */
.demo.android .device:after {
  left: 115px;
  top: 538px;
  width: 60px;
  height: 22px;
  border-radius: 23px; }

/*!----- Wider than 540px -------------------- */
@media screen and (min-width: 540px) {
  /* ----- DEMO -------------------- */
  .demo.iphone {
    height: 620px; }
  .demo.android {
    height: 620px; }
  .demo.iphone .device {
    transform: translateX(-50%) translateY(-50%) scale(1); }
  .demo.android .device {
    transform: translateX(-50%) translateY(-50%) scale(1); } }

.labs-page section.apps-background {
  background-image: url("../images/bg/app-icon-tile.png"); }

.labs-page section.dark-section {
  background-color: #272042; }

section.labs-color-section {
  background-color: #694489;
  color: #fff; }

section.labs-head {
  overflow: none;
  /* Grid pattern over a purple background with a light gradient at an angle from the left*/
  background: repeating-linear-gradient(180deg, transparent, transparent 1px, rgba(255, 255, 255, 0.05) 1px, rgba(255, 255, 255, 0.05) 2px, transparent 3px, transparent), repeating-linear-gradient(90deg, transparent, transparent 1px, rgba(255, 255, 255, 0.05) 1px, rgba(255, 255, 255, 0.05) 2px, transparent 3px, transparent), linear-gradient(128deg, rgba(170, 105, 125, 0.7) 0%, rgba(80, 80, 80, 0) 40%, rgba(0, 0, 0, 0.15) 100%), #694489;
  background-color: #694489;
  background-size: 5px 5px, 5px 5px, cover, cover;
  color: #fff;
  text-align: center; }
  section.labs-head h1,
  section.labs-head h2,
  section.labs-head h3,
  section.labs-head h4 {
    color: inherit; }

#bubbles {
  height: 100%;
  top: 0;
  position: absolute;
  width: 100%;
  display: block; }

.labs-head .logo {
  max-height: 100px;
  margin: 0 auto;
  margin-bottom: 12px;
  width: 100%;
  /* Necessary for Chrome to give the element non-zero height */ }

.app-figure h2 {
  margin-bottom: 0; }

.app-figure h3 {
  opacity: .5; }

.app-figure img {
  max-height: 500px;
  margin: 0 auto;
  display: block; }

dl {
  text-align: left; }

dt {
  font-weight: 900; }

dd {
  margin-bottom: 24px; }

.platform-icons li {
  display: inline-block;
  margin-right: 8px; }

.idea-submission .button {
  margin: 0 auto; }

@media screen and (min-width: 900px) {
  /*--- = Labs  */
  .labs-head .logo {
    max-height: 200px;
    margin-bottom: 24px; }
  .labs-head {
    font-weight: 400;
    font-size: 24px; }
  .app-figure h2 {
    text-align: left;
    padding: 0; } }
