{% extends "admin/base.html" %}
{% load staticfiles %}

{% block title %}MAD Admin{%  endblock %}
{% block extrahead %}

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}"/>
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}"/>
{% endblock %}

{% block extrastyle %}
    <link href="{% static 'css/admin.min.css' %}" rel="stylesheet">
{%  endblock %}
