{% extends "base.html" %}
{% load static %}
{% block title %} MADcon || MAD {% endblock title %}
{% block madcon_tab %}active{% endblock %}

{% block css %}
    <link href="{% static 'generated_css/madcon.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="mad-con-head text-center">
        <div class="man-con-logo-circle">
            <img class="mad-con-logo" src="{% static 'images/mad-con-logo-sq-16-17.svg' %}" alt="MADcon Logo"/>

        </div>
        <h2>April 21, 2018 <br>Empowering students with programming.<br>Technical workshops by industry.<br>
            Beginner and advanced friendly.<br> No pressure.</h2>
        {% if registration %}
            <a class="btn btn-primary" href="{% url 'madcon:status' %}">Registration Status</a>
        {% else %}
            <a class="btn btn-primary" href="{% url 'madcon:register' %}">Register</a>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'madcon:schedule' %}">Schedule</a>
        <a class="btn btn-primary" href="https://goo.gl/forms/FiyCFjoK4HbIO6z62">Volunteer</a>
        <a class="btn btn-primary" href="https://goo.gl/forms/S53GAf8eonYeDb743">Teach a Workshop</a>
        <a class="btn btn-primary" href="https://goo.gl/forms/36n1soVH3fAA8qYk2">Apply for Showcase</a>
    </div>
    <section id="mad-con-intro">
        <div class="container text-center">
            <h2>What Is MADcon?</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="icon">
                        <i class="fa fa-laptop"></i>
                    </div>

                    <h3 class="event-header">Workshops</h3>

                    <p>At the core of MAD is our drive to help those learn, develop, and grow. These workshops symbolize
                        those ideals and bring the best and brightest from the industry to make you the best you can
                        be.</p>
                    <a class="btn btn-default" href="https://goo.gl/forms/S53GAf8eonYeDb743">Teach a Workshop</a>
                </div>
                <div class="col-md-4">
                    <div class="icon">
                        <i class="fa fa-rocket"></i>
                    </div>

                    <h3 class="event-header">Project Showcase</h3>

                    <p>MAD gives students the opportunity to show off their projects they've made and to potentially win
                        a prize.</p>
                    <a class="btn btn-default" href="https://goo.gl/forms/36n1soVH3fAA8qYk2">Apply for Showcase</a>
                </div>
                <div class="col-md-4">
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>

                    <h3 class="event-header">People</h3>

                    <p>This is ultimately a conference, which you can meet new people from industry or from campus to
                        help you change and empower the world. </p>
                    <a class="btn btn-default" href="{% url 'madcon:register' %}">Register</a>
                </div>
            </div>
        </div>
    </section>
    <section id="faq" class="dark-section">
        <div class="container text-center">
            <h2>FAQ</h2>
            <div class="text row">
                <div class="col-md-4">
                    <h3 class="event-header">Is this a hackathon?</h3>
                    <p>No, we are a developers conference.</p>
                </div>
                <div class="col-md-4">
                    <h3 class="event-header">Who can attend?</h3>
                    <p>All UT Austin students are allowed to attend. You will be notified in late January.</p>
                </div>
                <div class="col-md-4">
                    <h3 class="event-header">How much does it cost?</h3>
                    <p>Nothing, it's completely free.</p>
                </div>
            </div>
            <div class="text row">
                <div class="col-md-4">
                    <h3 class="event-header">What should I bring?</h3>
                    <p>Just yourself, your computer, and your conference badge.</p>
                </div>
                <div class="col-md-4">
                    <h3 class="event-header">Do I need to have experience in mobile or web development?</h3>
                    <p>Nope, there will be courses for both beginners and advanced folks.</p>
                </div>
                <div class="col-md-4">
                    <h3 class="event-header">More questions?</h3>
                    <p>Email us at <a href="mailto:mad@cs.utexas.edu">mad@cs.utexas.edu</a></p>
                </div>
            </div>
        </div>
    </section>
    <section id="gallery" class="primary-color-section">
        <div id="gallery-images" class="container text-center">
            <h2>Gallery</h2>
            <ul class="thumbnails">
                <li>
                    <a href="{% static 'images/madcon/madcon_00.jpg' %}" rel="group"
                       class="hoverZoomLink">
                        <img src="{% static 'images/madcon/madcon_00.jpg' %}">
                    </a>
                </li>
                <li>
                    <a href="{% static 'images/madcon/madcon_01.jpg' %}" rel="group"
                       class="hoverZoomLink">
                        <img src="{% static 'images/madcon/madcon_01.jpg' %}">
                    </a>
                </li>
                <li>
                    <a href="{% static 'images/madcon/madcon_02.jpg' %}" rel="group"
                       class="hoverZoomLink">
                        <img src="{% static 'images/madcon/madcon_02.jpg' %}">
                    </a>
                </li>
                <li>
                    <a href="{% static 'images/madcon/madcon_03.jpg' %}" rel="group"
                       class="hoverZoomLink">
                        <img src="{% static 'images/madcon/madcon_03.jpg' %}">
                    </a>
                </li>
                <li>
                    <a href="{% static 'images/madcon/madcon_04.jpg' %}" rel="group"
                       class="hoverZoomLink">
                        <img src="{% static 'images/madcon/madcon_04.jpg' %}">
                    </a>
                </li>
                <li>
                    <a href="{% static 'images/madcon/madcon_05.jpg' %}" rel="group"
                       class="hoverZoomLink">
                        <img src="{% static 'images/madcon/madcon_05.jpg' %}">
                    </a>
                </li>
                <li>
                    <a href="{% static 'images/madcon/madcon_06.jpg' %}" rel="group"
                       class="hoverZoomLink">
                        <img src="{% static 'images/madcon/madcon_06.jpg' %}">
                    </a>
                </li>
                <li>
                    <a href="{% static 'images/madcon/madcon_07.jpg' %}" rel="group"
                       class="hoverZoomLink">
                        <img src="{% static 'images/madcon/madcon_07.jpg' %}">
                    </a>
                </li>
                <li>
                    <a href="{% static 'images/madcon/madcon_08.jpg' %}" rel="group"
                       class="hoverZoomLink">
                        <img src="{% static 'images/madcon/madcon_08.jpg' %}">
                    </a>
                </li>
                <li>
                    <a href="{% static 'images/madcon/madcon_09.jpg' %}" rel="group"
                       class="hoverZoomLink">
                        <img src="{% static 'images/madcon/madcon_09.jpg' %}">
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section id="partners">
        <div class="container text-center">
            <h2>Partners</h2>
            <ul class="thumbnails">
                <li class="full-width">
                    <a href="https://www.amazon.jobs/" target="_new">
                        <img src="{% static 'images/partners/amazon.png' %}"/>
                    </a>
                </li>
                <li class="full-width">
                    <a href="http://a16z.com/" target="_new">
                        <img src="{% static 'images/partners/a16z.svg' %}"/>
                    </a>
                </li>
                <li>
                    <a href="http://www.dsgncoll.com/" target="_new">
                        <img src="{% static 'images/partners/deco_logo.svg' %}"/>
                    </a>
                </li>
            </ul>

            <div class="text">
                <p>Interested in becoming a partner? Email us at <a
                        href="mailto:mad@cs.utexas.edu">mad@cs.utexas.edu</a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}
