{% extends "base.html" %}
{% block title %} Workshops || MAD {% endblock title %}
{% load static %}
{% block workshops_tab %}active{% endblock %}

{% block css %}
    <link href="{% static 'generated_css/workshops.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <section id="schedule">
        <div class="container">
            <h2>Workshops</h2>

            <div class="text row">
                <div class="col-md-4">
                    <h3>Beginner</h3>
                    <p>Our weekly workshops aim to help new developers get started with mobile technologies, regardless
                        of their background. Every week, one or multiple sessions of
                        our beginner classes meets to discuss and program. Instructors prepare materials in advance and
                        publish resources before and after each session. These resources can be found under our <a
                                href="https://github.com/txcsmad" title="MAD Github Org">GitHub organization</a>.</p>
                </div>
                <div class="col-md-4">
                    <h3>Spotlight</h3>
                    <p>Topical workshops are scheduled occasionally for each platform, providing a place to dive deeper
                        on specific technologies. They may cover advanced frameworks, in depth case studies or
                        interesting API use cases, anything that will enrich a developer's understanding of the
                        platform.</p>
                </div>
                <div class="col-md-4">
                    <h3>Partner</h3>
                    <p>MAD's fantastic partners are regularly invited to host their own workshops. They provide a 
                        unique perspective on various topics, and give you the chance to chat with professional 
                        engineers.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="instructors" class="dark-section">
        <div class="container">
            <h2>Instructors</h2>
            <div class="text">
                Our instructors work hard to put together materials for workshops, and make themselves
                regularly available for office hours. They're friendly people who are interested in helping you learn,
                and will
                always foster a positive learning environment.
            </div>
            <div class="instructors">
                <div class="team">
                    <h3>Android</h3>
                    <ul>
                        <li>
                            <img alt="" src="{% static "images/team/ali-k.jpg" %}">
                            <h4>Ali Kedwaii</h4>
                        </li>
                        <li>
                            <img alt="" src="{% static "images/team/rooshi.jpg" %}">
                            <h4>Rooshi Patidar</h4>
                        </li>
                        <li>
                            <img alt="" src="{% static "images/team/pravat.jpg" %}">
                            <h4>Pravat Bhusal</h4>
                        </li>
                    </ul>
                </div>
                <div class="team">
                    <h3>iOS</h3>
                    <ul>
                        <li>
                            <img alt="" src="{% static "images/team/avinash.jpg" %}"/>
                            <h4>Avinash Damania</h4>
                        </li>
                        <li>
                            <img alt="" src="{% static "images/team/rishabh.jpg" %}"/>
                            <h4>Rishabh Thakkar</h4>
                        </li>
                        <li>
                            <img alt="" src="{% static "images/team/ryan.jpg" %}"/>
                            <h4>Ryan Menghani</h4>
                        </li>
                    </ul>
                </div>
                <div class="team">
                    <h3>Web</h3>
                    <ul>
                        <li>
                            <img alt="" src="{% static "images/team/gauraang.jpg" %}">
                            <h4>Gauraang Dhamankar</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="courses">
        <div class="container">
            <div class="text">
                <h2>Courses</h2>
                <p>Keep an eye on the calendar for time and room changes. Also, follow the links to
                    the course's materials repo to get a better sense of content covered.</p>
                <ul class="courses">
                    <a href="https://github.com/txcsmad/f17-android-beginner">
                        <li class="android beginner key"><h3>Android</h3>
                            <span class="day-of-week">Date: TBD</span>
                            <span class="time">Time: TBD</span>
                        </li>
                    </a>
                    <a href="https://github.com/txcsmad/s18-iOS">
                        <li class="ios beginner key"><h3>iOS</h3>
                            <span class="day-of-week">Date: TBD</span>
                            <span class="time">Time: TBD</span>
                        </li>
                    </a>
                    <a href="https://github.com/txcsmad/f16-beginner-web">
                        <li class="web beginner key"><h3>Web</h3>
                            <span class="day-of-week">Date: TBD</span>
                            <span class="time">Time: TBD</span>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </section>


    <section id="umad-callout" class="primary-color-section">
        <div class="container">
            <div class="umad-block">
                <img src="{% static "images/mad-con-2019-logo-transparent.png" %}" alt="uMAD Emblem" class="emblem"/>
                <div class="text-side">
                    <p>The best student conference around.</p>
                    <a class="btn btn-default" href="{% url 'madcon:madcon' %}">MADcon</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
